<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.StudentMapper">

	<select id="login" parameterType="String"
		resultType="StudentForm">
		select * from tb_Student where student_number= #{student_number} and student_password =
		#{student_password}
	</select>
	<select id="queryall"  resultType="StudentForm">
		select * from tb_Student where student_number= #{student_number}
	</select>
		<select id="queryjcall"  resultType="JianChengForm">
		select * from tb_jiangcheng where student_number= #{student_number}
	</select>
		<select id="querygball"  resultType="CchengjiForm">
		select * from tb_Cchengji where student_number= #{student_number}
	</select>
</mapper>